*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
header{
    background: url(../img/Em.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 500px;
}
.containner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    padding: 10px;;
    color: #fff;
    font-family: 'Open Sans';
}
label{
    color: #EFD6AC;
   font-size: 26px;
    line-height: 70px;
    display: none;
    position: absolute;
    top: -15px;
    left: 10px;
}
#toggle{
    display:none;
}
.info-cmp > img{

    padding: 10px;
    margin-left: 30px;

}
li:hover{
    cursor: pointer;
}
.title{
   width: auto;
   margin-left: 160px;
   color: #FFF;

}
.btn{
    background-color:#FFF;
    width: 150px;
    color: black;
    font-size: 14px;
    border: 0px;
    margin-top: -10px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    height: 40px;
}
.table_menu
{
    width: 700px;
    text-align: center;
    margin: auto;
}
.table_menu td
{
    height: 50px;
    text-align: center;
   color: #FFF;
}
.table_menu td:hover
{
    height: 50px;
    text-align: center;
   color: #000;
   background-color: #FFF;
   cursor: pointer;
}
.table_menu th
{
    height: 70px;
    text-align: center;
    margin: auto;
}
.menu1
{
    display: none;
    background-color: black;
    position: fixed;
    top: 60px;
    width: 100%;
    text-align: center;
    margin: auto;
}
.gnrl{
    display: flex;
    /* margin-top: 60px; */
    width: 80%;
    height: 504px;
    background: aliceblue;
    margin: auto;
    position: absolute;
    left: 10%;
    top: -26%;
}
.generale{
    position: relative;
    width: 100%;
}
.c2{
    margin-top: 80px;
}
.direction{
    background-color: #688095;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}
span{
    float:right;
}
.exp{
    background-color: #688095;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #C49D48;
}
.vide{
    height: 250px;
}
#image{
    width: 100%;
}
#exp1{
    margin-left: -100px;
}
.gr-img{
    display: flex;
}
.image-2{
    display: flex;
}


/*responsive*/
@media screen and (max-width:1275px){

ul{
    display: none;
}
.info-cmp{
    display: none;
}
.title{
    width: auto;
    text-align: center;
    margin: auto;
}
.logo{
   margin: auto;
}
.menu  {
    text-align: center;
    width: 100%;   
    display: none;
}
.menu a {
    display:block;
    border-bottom:1px solid #EAEAEB;
    margin:0;
    
    background-color: black;
    color: white;
    text-align: center;
}
label{
    display: block;
}
#toggle:checked + .menu1{
    display: block;
}

.gnrl{
    display: flex;
    /* margin-top: 60px; */
    width: 90%;
    height: 504px;
    background: aliceblue;
    margin: 60px auto;
    position: absolute;
    left: 5%;
    top: -26%;
}
.generale{
    position: relative;
    width: 100%;
    
}
.c2{
    margin-top: 80px;
}
.direction{
    background-color: #688095;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}
span{
    float:right;
}
.exp{
    background-color: #688095;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #C49D48;
}

#image{
    width: 100%;
}
#exp1{
    margin-left: -100px;
}
.vide{
    height: 20%;
}
}
@media screen and (max-width:780px){
    .table_menu
    {
        width: auto;
        text-align: center;
        margin: auto;
    }
    .img1{

        width: 100%;
    
    }
    .direction{
        background-color: #688095;
        border: none;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        
    }
    .gnrl{
        display: flex;
        /* margin-top: 60px; */
        width: 90%;
        height: 504px;
        background: aliceblue;
        margin: 60px auto;
        position: static;
        
    }




}






