*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans' , 'sans serif';
}
header{
    background: url(../img/Em.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 500px;
}
.containner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
ul{
    list-style-type: none;
    display: flex;
}
li{
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-family: 'Open Sans';
}
label{
    color: #EFD6AC;
   font-size: 26px;
    line-height: 70px;
    display: none;
    position: absolute;
    top: -15px;
    left: 10px;
}
#toggle{
    display:none;
}
.info-cmp > img{

    padding: 10px;
    margin-left: 30px;

}
li:hover{
    cursor: pointer;
}
.title-1{
   width: auto;
   margin-left: 160px;
   color: #FFF;
}
.btn{
    background-color:#FFF;
    width: 150px;
    color: black;
    font-size: 14px;
    border: 0px;
    margin-top: -10px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    height: 40px;
}
.btn2{
    background-color:#FFF;
    width: 150px;
    color: black;
    font-size: 14px;
    border: 0px;
    margin-top: -10px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease 0s;
    height: 40px;
}
.table_menu
{
    width: 700px;
    text-align: center;
    margin: auto;
}
.table_menu td
{
    height: 50px;
    text-align: center;
   color: #FFF;
}
.table_menu td:hover
{
    height: 50px;
    text-align: center;
   color: #000;
   background-color: #FFF;
   cursor: pointer;
}
.table_menu th
{
    height: 70px;
    text-align: center;
    margin: auto;
}
.menu1
{
    display: none;
    background-color: black;
    position: absolute;
    top: 60px;
    width: 100%;
    text-align: center;
    margin: auto;
}
/*section information*/
.gnrl{
    display: flex;
    width: 80%;
    background: aliceblue;
    margin: auto;
    position: absolute;
    left: 10%;
    top: -26%;
}
.gnrl >h2{
    font-family: 'Raleway';
}
.generale{
    position: relative;
    width: 100%;
}
.c2{
    margin-top: 50px;
}
.direction{
    background-color: #688095;
    border: none;
    padding: 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}
span{
    float:right;
}
.exp{
    background-color: #688095;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #C49D48;
}
.vide{
    height: 250px;
}
#image{
    width: 100%;
}
#exp1{
    margin-left: -100px;
}
.gr-img{
    display: flex;
    justify-content: space-between;
}
/*section galerie*/
.image-2{
    display: flex;
   
    justify-content: center;
    width: 80%;
    margin: auto;

}

.title > h2{
  text-align: center;
  color: #000;
  
}
.title > p{
    text-align: center;
    color: #000;
    margin-right: 45px;
}
.image-3{
    display: flex;
    flex-direction: row;
}
.taille{
    width: 300px;
    justify-content: space-between;
    padding: 4px;
}
.taille2{
    width: 300px;
    height: 433px;
}
.gimg1{
    display: flex;
    flex-direction: column;
}

.taille3{
    width: 200px;
}
/*vedeo*/
.grp{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.Image:hover{
    cursor: pointer;    
}
 .image1{
    background-image:linear-gradient(rgba(236, 231, 231, 0.5), rgba(236, 231, 231, 0.5)), url(../img/img18.png);
    height: 200px;
    width: 200px;
    background-position: center;
}
 .image2{
    background-image: linear-gradient(rgba(236, 231, 231, 0.5), rgba(236, 231, 231, 0.5)), url(../img/img19.png);
    height: 200px;
    width: 200px;
    background-position: center;
}
 .image3{
    background-image: linear-gradient(rgba(236, 231, 231, 0.5), rgba(236, 231, 231, 0.5)), url(../img/img20.png);
    height: 200px;
    width: 200px;
    background-position: center;
}
 .image4{
    background-image: linear-gradient(rgba(236, 231, 231, 0.5), rgba(236, 231, 231, 0.5)), url(../img/img21.png);
    height: 200px;
    width: 200px;
    background-position: center;
}
 .image5{
    background-image: linear-gradient(rgba(236, 231, 231, 0.5), rgba(236, 231, 231, 0.5)), url(../img/img22.png);
    height: 200px;
    width: 200px;
    background-position: center;
}
 .image6{
    background-image: linear-gradient(rgba(236, 231, 231, 0.5), rgba(236, 231, 231, 0.5)), url(../img/img23.png);
    height: 200px;
    width: 200px;
    background-position: center;
}
.far{
    color: #FFF;
    color: #FFF;
    width: 100%;
    text-align: center;
    margin-top: 74px;

    
}
/*info-cmp*/
.bg-img{
    background: url(../img/bg-ing.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    height: 200px;
    
}

input{
  
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin: 0 auto;
  padding: 10px;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 20%;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
  width: 45%;
 
}
.btn3{
    align-items: center;
}
.block1{
    display: block;
    width: 750px;
    height: 417px;
    text-align: center;
    margin-left: 286px;    
}
.block1 h2{
    margin-right: 235px;
    color: #FFF;
}
.block1 p{
    color: #FFF;
}
.btn3{
    font-family: 'Raleway';
    border: none;
    cursor: pointer;
    display: inline-block;
    background-color: #C49D48;
    padding: 10px;
    color: #FFF;
}
.ftr{
    display: flex;
    width: 90%;
    margin: auto;
}
.champ1{
    width: 30%;
    padding: 0px 30px;
}
.champ1 h2{
    font-size: 15px;
    color: #688095;
    font-weight: 400;
}
.champ1 h3{
    font-size: 30px;
    font-weight: 600;
    color: #EFD6AC;
}
.champ2{
    padding: 0px 10px;
    width: 20%;
}
.champ2 h1{
    font-size: 20px;
    color: #688095;
}
.champ2 p{
    font-size: 15px;
    color: #AAA9A9;
    font-weight: 700;
    padding-bottom: 8px;
}
.champ2 p::before{
    content: "➥";
    color: rgb(104, 128, 149);
    font-size: 20px;
    font-weight: 800;
    padding-right: 10px;
}
.champ3{
    width: 30%;
    padding: 0px 30px;
}
.champ3 h1{
    font-size: 20px;
    color: #688095;
}
.champ3 h2{
    font-size: 15px;
    color: #688095;
    font-weight: 400;
}
.footer2{
    height: 40px;
    background-color: #688095;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer2 p{
    flex: 1;
    text-align: center;
    color: #FFF;
}
.icon{
   
    position: relative;
    top:83px;

}




/*responsive*/
@media screen and (max-width:1200px){ 

ul{
    display: none;
}
.info-cmp{
    display: none;
}
.title-1{
    width: auto;
    text-align: center;
    margin: auto;
}
.logo{
   margin: auto;
}
.menu  {
    text-align: center;
    width: 100%;   
    display: none;
}
.menu a {
    display:block;
    border-bottom:1px solid #EAEAEB;
    margin:0;
    background-color: black;
    color: white;
    text-align: center;
}
label{
    display: block;
}
#toggle:checked + .menu1{
    display: block;
}

.gnrl{
    display: flex;
    width: 90%;
    
    height: 504px;
    background: aliceblue;
    margin: 60px auto;
    position: absolute;
    left: 5%;
    top: -26%;
}

.taille{
    width: auto;
}

.generale{
    position: relative;
    width: auto;
    
}
.direction{
    background-color: #688095;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}
span{
    float:right;
}
.exp{
    background-color: #688095;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #C49D48;
}
#exp1 {
    margin-left: -50px;
}

.vide{
    height: 10%;
}
.image-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.taille{
    width: 200px;
}
.taille2{
    width: 200px;
    height: 450px;
}
.ftr{
    display: block;
    width: 90%;
    margin: auto;
    }
    .champ1{
        width: 100%;
        padding: 0px 30px;
        text-align: center;
    }
    .champ1 h2{
        font-size: 15px;
        color: #688095;
        font-weight: 400;
    }
    .champ1 h3{
        font-size: 30px;
        font-weight: 600;
        color: #EFD6AC;
    }
    .champ2{
        width: 100%;
        padding: 0px 30px;
        text-align: center;
    }
    .champ2 h1{
        font-size: 20px;
        color: #688095;
    }
    .champ2 p{
        font-size: 15px;
        color: #AAA9A9;
        font-weight: 700;
        padding-bottom: 8px;
    }
    .champ2 p::before{
        content: "➥";
        color: rgb(104, 128, 149);
        font-size: 20px;
        font-weight: 800;
        padding-right: 10px;
    }
    .champ3{
        width: 100%;
        padding: 0px 30px;
        text-align: center;
    }
    .champ3 h1{
        font-size: 20px;
        color: #688095;
    }
    .champ3 h2{
        font-size: 15px;
        color: #688095;
        font-weight: 400;
    }
    .footer2{
        height: 40px;
        background-color: #688095;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer2 p{
        flex: 1;
        text-align: center;
        color: #FFF;
    }
    .grp{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        margin: auto;
        align-items: center;
        justify-content: space-between;
    }
    .taille3{
        width: 200px;
        margin-top: 10px;
    }
    .block1 {
        display: block;
        width: 100%;
        height: 417px;
        text-align: none;
        margin: auto;
        text-align: center;
       }
       .block1 h2{
        margin: auto;
        color: #FFF;
    }
    .bg-img{
        margin-top: 40px;
    }
    .image-2{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
    }
    .Image{
        margin-top: 10px;
        width: 200px;
    }
    #img-exp{
        height: 305px;
    }
    
}
@media screen and (max-width:780px){
    .table_menu
    {
        width: auto;
        text-align: center;
        margin: auto;
    }
    .img1{

        width: 100%;
    
    }
    .direction{
        background-color: #688095;
        border: none;
        color: white;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        
    }
    .gnrl{
        display: flex;
        width: 90%;
        height: 555px;
        background: aliceblue;
        margin: 60px auto;
        position: static;
        
    }
  
    .taille{
        width: 150px;
    }
    .taille2{
        width: 150px;
        height: 300px;
    }
    .c2{
        margin-top: 10px;
    }
    .paragraphe{
        height: 175px;
    }
    .p1{
        font-size: 12px;
    }



}






